## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Atuona,PF,77.20,light rain,-9.8000,-139.0333,Villa Enata
1,3,Laguna,US,75.09,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,12,Georgetown,MY,80.89,overcast clouds,5.4112,100.3354,Cititel Penang
3,14,Cabo San Lucas,MX,84.51,overcast clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
4,17,Maceio,BR,80.31,scattered clouds,-9.6658,-35.7353,Poutur Pousada

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
vacation_df.loc[vacation_df['Hotel Name'] == 'Piaçabuçu News']

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
161,632,Piacabucu,BR,82.54,broken clouds,-10.4056,-36.4344,Piaçabuçu News

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['Hotel Name'] == 'Hotel Pigalle']
vacation_end = vacation_df.loc[vacation_df['Hotel Name'] == 'Hotel Pigalle']
vacation_stop1 = vacation_df.loc[vacation_df['Hotel Name'] == 'Piaçabuçu News']
vacation_stop2 = vacation_df.loc[vacation_df['Hotel Name'] == 'Poutur Pousada']
vacation_stop3 = vacation_df.loc[vacation_df['Hotel Name'] == 'Crôa Mares Hotel']

In [28]:
# vacation_df[['Lat', 'Lng']].to_numpy()

array([[  -9.8   , -139.0333],
       [  38.421 , -121.4238],
       [   5.4112,  100.3354],
       [  22.8909, -109.9124],
       [  -9.6658,  -35.7353],
       [  20.15  ,   92.9   ],
       [   3.0707,  172.7902],
       [   2.6678,   12.7109],
       [  26.5412,  -77.0636],
       [  -8.145 ,  159.5921],
       [  29.9576,  122.298 ],
       [  23.2   ,   81.9667],
       [  -7.6331,  109.2461],
       [  35.6166,   -5.2752],
       [  14.6377,  102.7914],
       [  -0.6   ,   73.0833],
       [  -2.5744,  150.7967],
       [  19.7297, -155.09  ],
       [  32.296 ,  -81.2354],
       [  -9.4333,  159.95  ],
       [  38.7333,  -27.0667],
       [  14.0453,  124.1694],
       [   8.3511,  100.202 ],
       [  -0.7193,    8.7815],
       [  25.9333,   81.9833],
       [  -6.2167,  155.6333],
       [   9.4942,   50.8122],
       [  32.6667,  -17.1   ],
       [  -3.5534,  143.6268],
       [ -16.4833, -151.75  ],
       [   5.3505,   48.5268],
       [  27.3167, -112.2833],
       [  24.8   ,  125.2833],
       [ -21.2078, -159.775 ],
       [   1.7427,   98.7792],
       [  32.7668,  -96.7836],
       [  41.6739,   41.694 ],
       [ -22.9661,  -42.0278],
       [  20.4333,   96.15  ],
       [  10.5669,   72.642 ],
       [  11.6667,   92.75  ],
       [  12.1791,  125.5072],
       [  11.5833,  -11.9   ],
       [   6.15  ,   73.2667],
       [  22.9036,  -83.1592],
       [  21.4612,  -71.1419],
       [   3.25  ,   19.7667],
       [  11.0172,  124.5283],
       [  21.1167,   70.1167],
       [ -16.7   , -151.0167],
       [  37.3191,   -8.8033],
       [ -15.7167,   46.3167],
       [  -3.8004,  102.2655],
       [  -7.7479,  112.0132],
       [  39.7191,   45.1799],
       [  16.5167,   75.3   ],
       [   5.6667,   73.    ],
       [  10.767 ,   75.9252],
       [  21.1631,   77.3094],
       [   7.7102,   81.6924],
       [ -16.0999,  167.4164],
       [   5.9485,   80.5353],
       [   6.1241,   81.1185],
       [ -21.6403,  -41.0511],
       [  10.    ,  -83.0333],
       [  37.4636, -122.4286],
       [  28.3667,  129.4833],
       [  39.0062,  -77.4286],
       [  32.6881,  128.8419],
       [  26.1842,  127.7558],
       [   6.8837,  116.8477],
       [ -17.8786,   36.8883],
       [   6.7533,  -11.3686],
       [  -0.9492,  100.3543],
       [ -17.7333, -149.15  ],
       [  20.6569,  -74.9403],
       [  -9.6567,  120.2641],
       [  30.5838, -111.101 ],
       [   6.6221,   73.07  ],
       [  30.4833, -115.95  ],
       [  -7.95  ,  110.2833],
       [   7.7669,  -72.225 ],
       [  -6.9811,  -34.8339],
       [  17.0818,  122.4157],
       [  27.6667, -105.1667],
       [  10.3999,    5.4695],
       [  32.3502,  -85.1999],
       [  24.1447,   67.4497],
       [  13.7796,  124.39  ],
       [  -8.65  ,  115.2167],
       [ -13.6833,   48.45  ],
       [  10.9995,  122.6711],
       [  15.85  ,  -97.0667],
       [  -7.0167,  113.8667],
       [  25.1167,  114.3   ],
       [   3.3   ,  117.6333],
       [  28.5004,  -13.8627],
       [   4.375 ,   -7.7169],
       [  19.7   ,   72.7   ],
       [  14.8961,  -24.4956],
       [   8.9603,  117.5828],
       [  31.8111,  121.655 ],
       [  17.0151,   54.0924],
       [  22.9833,   71.4667],
       [  -8.103 ,  156.8419],
       [   3.5167,   39.0584],
       [  10.595 ,  123.4838],
       [  18.4726,  120.5763],
       [   0.5412,  123.0595],
       [  10.1037,  -84.1678],
       [  36.757 ,  -90.3929],
       [  31.2156,   29.9553],
       [ -11.3847,   43.2844],
       [  10.0333,  105.7833],
       [   7.0419,  134.2556],
       [  -3.6667,  152.4333],
       [ -10.4544,  161.9205],
       [  11.2833,  -15.8333],
       [  19.9333, -105.25  ],
       [  -0.3582,   42.5454],
       [  -4.7561,   11.8578],
       [  16.9833,   73.3   ],
       [  22.3082,   89.7897],
       [  -6.3424,  106.1045],
       [   7.9868,  117.0645],
       [  21.4022, -157.7394],
       [   2.4312,  103.8405],
       [  27.9833,   75.8   ],
       [  16.8901,  -24.9804],
       [  36.2642,    2.7539],
       [  20.8667,  -90.4   ],
       [  30.4159,  103.4609],
       [  -8.8978,  -35.1478],
       [   7.4167,   81.8167],
       [  17.65  ,   83.2667],
       [   4.1363,   96.1285],
       [  18.7333, -103.6833],
       [  35.8419,   14.5431],
       [  22.2876,   89.9593],
       [  29.5542,   66.0215],
       [  40.1629,   -8.3327],
       [  37.2242,   67.2783],
       [  33.7333,  135.9833],
       [ -20.3167,  118.5667],
       [ -20.7377,  116.8463],
       [  27.9054,  -15.4461],
       [  -7.4706,  -34.8086],
       [  26.8833, -111.9833],
       [  -5.2246,  145.7966],
       [  33.6671,  -93.5916],
       [  39.5108,   54.3671],
       [  -2.0226,  147.2712],
       [   8.894 ,  -76.3546],
       [  36.9559,   36.2   ],
       [  37.3807,   55.4916],
       [   5.8833,  -57.1333],
       [   9.285 ,  105.7244],
       [   7.85  ,    9.7833],
       [  -7.9139,   39.6668],
       [  15.2833,  -23.7667],
       [  21.4447, -157.8378],
       [ -10.4056,  -36.4344],
       [ -13.8483,  136.4192],
       [ -10.1667,  123.5833],
       [  -8.19  ,  114.9675],
       [  40.5878,   23.0315],
       [  26.1247,  127.6694],
       [  20.8624,   92.3058],
       [  33.6   ,   73.0667],
       [  13.5   ,  100.45  ],
       [  17.8868,  -77.5902],
       [  13.7667,  109.2333],
       [ -15.7667,  128.7333],
       [   6.4635,   -2.3194],
       [ -19.8   , -174.35  ],
       [  15.2634,  100.3438]])

In [50]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat', 'Lng']].to_numpy()[0]
end = vacation_end[['Lat', 'Lng']].to_numpy()[0]
stop1 = vacation_stop1[['Lat', 'Lng']].to_numpy()[0]
stop2 = vacation_stop2[['Lat', 'Lng']].to_numpy()[0]
stop3 = vacation_stop3[['Lat', 'Lng']].to_numpy()[0]

In [57]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_route = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = 'DRIVING')
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
82,335,Cabedelo,BR,82.09,clear sky,-6.9811,-34.8339,Hotel Pigalle

In [59]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,335,Cabedelo,BR,82.09,clear sky,-6.9811,-34.8339,Hotel Pigalle
1,632,Piacabucu,BR,82.54,broken clouds,-10.4056,-36.4344,Piaçabuçu News
2,17,Maceio,BR,80.31,scattered clouds,-9.6658,-35.7353,Poutur Pousada
3,534,Sao Jose Da Coroa Grande,BR,81.37,few clouds,-8.8978,-35.1478,Crôa Mares Hotel

In [62]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
iti_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [64]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=iti_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))